# Ember ring placement constraints
# 192 rings, 960 constraints

LOCATE COMP "gen_ring[0].gen_st[0].inv" SITE "R2C2A";
LOCATE COMP "gen_ring[0].gen_st[1].inv" SITE "R2C2A";
LOCATE COMP "gen_ring[0].gen_st[2].inv" SITE "R2C2B";
LOCATE COMP "gen_ring[0].gen_st[3].inv" SITE "R2C2B";
LOCATE COMP "gen_ring[0].gen_st[4].inv" SITE "R2C2C";
LOCATE COMP "gen_ring[1].gen_st[0].inv" SITE "R2C6A";
LOCATE COMP "gen_ring[1].gen_st[1].inv" SITE "R2C6A";
LOCATE COMP "gen_ring[1].gen_st[2].inv" SITE "R2C6B";
LOCATE COMP "gen_ring[1].gen_st[3].inv" SITE "R2C6B";
LOCATE COMP "gen_ring[1].gen_st[4].inv" SITE "R2C6C";
LOCATE COMP "gen_ring[2].gen_st[0].inv" SITE "R2C10A";
LOCATE COMP "gen_ring[2].gen_st[1].inv" SITE "R2C10A";
LOCATE COMP "gen_ring[2].gen_st[2].inv" SITE "R2C10B";
LOCATE COMP "gen_ring[2].gen_st[3].inv" SITE "R2C10B";
LOCATE COMP "gen_ring[2].gen_st[4].inv" SITE "R2C10C";
LOCATE COMP "gen_ring[3].gen_st[0].inv" SITE "R2C14A";
LOCATE COMP "gen_ring[3].gen_st[1].inv" SITE "R2C14A";
LOCATE COMP "gen_ring[3].gen_st[2].inv" SITE "R2C14B";
LOCATE COMP "gen_ring[3].gen_st[3].inv" SITE "R2C14B";
LOCATE COMP "gen_ring[3].gen_st[4].inv" SITE "R2C14C";
LOCATE COMP "gen_ring[4].gen_st[0].inv" SITE "R2C18A";
LOCATE COMP "gen_ring[4].gen_st[1].inv" SITE "R2C18A";
LOCATE COMP "gen_ring[4].gen_st[2].inv" SITE "R2C18B";
LOCATE COMP "gen_ring[4].gen_st[3].inv" SITE "R2C18B";
LOCATE COMP "gen_ring[4].gen_st[4].inv" SITE "R2C18C";
LOCATE COMP "gen_ring[5].gen_st[0].inv" SITE "R2C22A";
LOCATE COMP "gen_ring[5].gen_st[1].inv" SITE "R2C22A";
LOCATE COMP "gen_ring[5].gen_st[2].inv" SITE "R2C22B";
LOCATE COMP "gen_ring[5].gen_st[3].inv" SITE "R2C22B";
LOCATE COMP "gen_ring[5].gen_st[4].inv" SITE "R2C22C";
LOCATE COMP "gen_ring[6].gen_st[0].inv" SITE "R2C26A";
LOCATE COMP "gen_ring[6].gen_st[1].inv" SITE "R2C26A";
LOCATE COMP "gen_ring[6].gen_st[2].inv" SITE "R2C26B";
LOCATE COMP "gen_ring[6].gen_st[3].inv" SITE "R2C26B";
LOCATE COMP "gen_ring[6].gen_st[4].inv" SITE "R2C26C";
LOCATE COMP "gen_ring[7].gen_st[0].inv" SITE "R2C30A";
LOCATE COMP "gen_ring[7].gen_st[1].inv" SITE "R2C30A";
LOCATE COMP "gen_ring[7].gen_st[2].inv" SITE "R2C30B";
LOCATE COMP "gen_ring[7].gen_st[3].inv" SITE "R2C30B";
LOCATE COMP "gen_ring[7].gen_st[4].inv" SITE "R2C30C";
LOCATE COMP "gen_ring[8].gen_st[0].inv" SITE "R2C34A";
LOCATE COMP "gen_ring[8].gen_st[1].inv" SITE "R2C34A";
LOCATE COMP "gen_ring[8].gen_st[2].inv" SITE "R2C34B";
LOCATE COMP "gen_ring[8].gen_st[3].inv" SITE "R2C34B";
LOCATE COMP "gen_ring[8].gen_st[4].inv" SITE "R2C34C";
LOCATE COMP "gen_ring[9].gen_st[0].inv" SITE "R2C38A";
LOCATE COMP "gen_ring[9].gen_st[1].inv" SITE "R2C38A";
LOCATE COMP "gen_ring[9].gen_st[2].inv" SITE "R2C38B";
LOCATE COMP "gen_ring[9].gen_st[3].inv" SITE "R2C38B";
LOCATE COMP "gen_ring[9].gen_st[4].inv" SITE "R2C38C";
LOCATE COMP "gen_ring[10].gen_st[0].inv" SITE "R2C42A";
LOCATE COMP "gen_ring[10].gen_st[1].inv" SITE "R2C42A";
LOCATE COMP "gen_ring[10].gen_st[2].inv" SITE "R2C42B";
LOCATE COMP "gen_ring[10].gen_st[3].inv" SITE "R2C42B";
LOCATE COMP "gen_ring[10].gen_st[4].inv" SITE "R2C42C";
LOCATE COMP "gen_ring[11].gen_st[0].inv" SITE "R2C46A";
LOCATE COMP "gen_ring[11].gen_st[1].inv" SITE "R2C46A";
LOCATE COMP "gen_ring[11].gen_st[2].inv" SITE "R2C46B";
LOCATE COMP "gen_ring[11].gen_st[3].inv" SITE "R2C46B";
LOCATE COMP "gen_ring[11].gen_st[4].inv" SITE "R2C46C";
LOCATE COMP "gen_ring[12].gen_st[0].inv" SITE "R2C50A";
LOCATE COMP "gen_ring[12].gen_st[1].inv" SITE "R2C50A";
LOCATE COMP "gen_ring[12].gen_st[2].inv" SITE "R2C50B";
LOCATE COMP "gen_ring[12].gen_st[3].inv" SITE "R2C50B";
LOCATE COMP "gen_ring[12].gen_st[4].inv" SITE "R2C50C";
LOCATE COMP "gen_ring[13].gen_st[0].inv" SITE "R2C54A";
LOCATE COMP "gen_ring[13].gen_st[1].inv" SITE "R2C54A";
LOCATE COMP "gen_ring[13].gen_st[2].inv" SITE "R2C54B";
LOCATE COMP "gen_ring[13].gen_st[3].inv" SITE "R2C54B";
LOCATE COMP "gen_ring[13].gen_st[4].inv" SITE "R2C54C";
LOCATE COMP "gen_ring[14].gen_st[0].inv" SITE "R2C58A";
LOCATE COMP "gen_ring[14].gen_st[1].inv" SITE "R2C58A";
LOCATE COMP "gen_ring[14].gen_st[2].inv" SITE "R2C58B";
LOCATE COMP "gen_ring[14].gen_st[3].inv" SITE "R2C58B";
LOCATE COMP "gen_ring[14].gen_st[4].inv" SITE "R2C58C";
LOCATE COMP "gen_ring[15].gen_st[0].inv" SITE "R2C62A";
LOCATE COMP "gen_ring[15].gen_st[1].inv" SITE "R2C62A";
LOCATE COMP "gen_ring[15].gen_st[2].inv" SITE "R2C62B";
LOCATE COMP "gen_ring[15].gen_st[3].inv" SITE "R2C62B";
LOCATE COMP "gen_ring[15].gen_st[4].inv" SITE "R2C62C";
LOCATE COMP "gen_ring[16].gen_st[0].inv" SITE "R4C2A";
LOCATE COMP "gen_ring[16].gen_st[1].inv" SITE "R4C2A";
LOCATE COMP "gen_ring[16].gen_st[2].inv" SITE "R4C2B";
LOCATE COMP "gen_ring[16].gen_st[3].inv" SITE "R4C2B";
LOCATE COMP "gen_ring[16].gen_st[4].inv" SITE "R4C2C";
LOCATE COMP "gen_ring[17].gen_st[0].inv" SITE "R4C6A";
LOCATE COMP "gen_ring[17].gen_st[1].inv" SITE "R4C6A";
LOCATE COMP "gen_ring[17].gen_st[2].inv" SITE "R4C6B";
LOCATE COMP "gen_ring[17].gen_st[3].inv" SITE "R4C6B";
LOCATE COMP "gen_ring[17].gen_st[4].inv" SITE "R4C6C";
LOCATE COMP "gen_ring[18].gen_st[0].inv" SITE "R4C10A";
LOCATE COMP "gen_ring[18].gen_st[1].inv" SITE "R4C10A";
LOCATE COMP "gen_ring[18].gen_st[2].inv" SITE "R4C10B";
LOCATE COMP "gen_ring[18].gen_st[3].inv" SITE "R4C10B";
LOCATE COMP "gen_ring[18].gen_st[4].inv" SITE "R4C10C";
LOCATE COMP "gen_ring[19].gen_st[0].inv" SITE "R4C14A";
LOCATE COMP "gen_ring[19].gen_st[1].inv" SITE "R4C14A";
LOCATE COMP "gen_ring[19].gen_st[2].inv" SITE "R4C14B";
LOCATE COMP "gen_ring[19].gen_st[3].inv" SITE "R4C14B";
LOCATE COMP "gen_ring[19].gen_st[4].inv" SITE "R4C14C";
LOCATE COMP "gen_ring[20].gen_st[0].inv" SITE "R4C18A";
LOCATE COMP "gen_ring[20].gen_st[1].inv" SITE "R4C18A";
LOCATE COMP "gen_ring[20].gen_st[2].inv" SITE "R4C18B";
LOCATE COMP "gen_ring[20].gen_st[3].inv" SITE "R4C18B";
LOCATE COMP "gen_ring[20].gen_st[4].inv" SITE "R4C18C";
LOCATE COMP "gen_ring[21].gen_st[0].inv" SITE "R4C22A";
LOCATE COMP "gen_ring[21].gen_st[1].inv" SITE "R4C22A";
LOCATE COMP "gen_ring[21].gen_st[2].inv" SITE "R4C22B";
LOCATE COMP "gen_ring[21].gen_st[3].inv" SITE "R4C22B";
LOCATE COMP "gen_ring[21].gen_st[4].inv" SITE "R4C22C";
LOCATE COMP "gen_ring[22].gen_st[0].inv" SITE "R4C26A";
LOCATE COMP "gen_ring[22].gen_st[1].inv" SITE "R4C26A";
LOCATE COMP "gen_ring[22].gen_st[2].inv" SITE "R4C26B";
LOCATE COMP "gen_ring[22].gen_st[3].inv" SITE "R4C26B";
LOCATE COMP "gen_ring[22].gen_st[4].inv" SITE "R4C26C";
LOCATE COMP "gen_ring[23].gen_st[0].inv" SITE "R4C30A";
LOCATE COMP "gen_ring[23].gen_st[1].inv" SITE "R4C30A";
LOCATE COMP "gen_ring[23].gen_st[2].inv" SITE "R4C30B";
LOCATE COMP "gen_ring[23].gen_st[3].inv" SITE "R4C30B";
LOCATE COMP "gen_ring[23].gen_st[4].inv" SITE "R4C30C";
LOCATE COMP "gen_ring[24].gen_st[0].inv" SITE "R4C34A";
LOCATE COMP "gen_ring[24].gen_st[1].inv" SITE "R4C34A";
LOCATE COMP "gen_ring[24].gen_st[2].inv" SITE "R4C34B";
LOCATE COMP "gen_ring[24].gen_st[3].inv" SITE "R4C34B";
LOCATE COMP "gen_ring[24].gen_st[4].inv" SITE "R4C34C";
LOCATE COMP "gen_ring[25].gen_st[0].inv" SITE "R4C38A";
LOCATE COMP "gen_ring[25].gen_st[1].inv" SITE "R4C38A";
LOCATE COMP "gen_ring[25].gen_st[2].inv" SITE "R4C38B";
LOCATE COMP "gen_ring[25].gen_st[3].inv" SITE "R4C38B";
LOCATE COMP "gen_ring[25].gen_st[4].inv" SITE "R4C38C";
LOCATE COMP "gen_ring[26].gen_st[0].inv" SITE "R4C42A";
LOCATE COMP "gen_ring[26].gen_st[1].inv" SITE "R4C42A";
LOCATE COMP "gen_ring[26].gen_st[2].inv" SITE "R4C42B";
LOCATE COMP "gen_ring[26].gen_st[3].inv" SITE "R4C42B";
LOCATE COMP "gen_ring[26].gen_st[4].inv" SITE "R4C42C";
LOCATE COMP "gen_ring[27].gen_st[0].inv" SITE "R4C46A";
LOCATE COMP "gen_ring[27].gen_st[1].inv" SITE "R4C46A";
LOCATE COMP "gen_ring[27].gen_st[2].inv" SITE "R4C46B";
LOCATE COMP "gen_ring[27].gen_st[3].inv" SITE "R4C46B";
LOCATE COMP "gen_ring[27].gen_st[4].inv" SITE "R4C46C";
LOCATE COMP "gen_ring[28].gen_st[0].inv" SITE "R4C50A";
LOCATE COMP "gen_ring[28].gen_st[1].inv" SITE "R4C50A";
LOCATE COMP "gen_ring[28].gen_st[2].inv" SITE "R4C50B";
LOCATE COMP "gen_ring[28].gen_st[3].inv" SITE "R4C50B";
LOCATE COMP "gen_ring[28].gen_st[4].inv" SITE "R4C50C";
LOCATE COMP "gen_ring[29].gen_st[0].inv" SITE "R4C54A";
LOCATE COMP "gen_ring[29].gen_st[1].inv" SITE "R4C54A";
LOCATE COMP "gen_ring[29].gen_st[2].inv" SITE "R4C54B";
LOCATE COMP "gen_ring[29].gen_st[3].inv" SITE "R4C54B";
LOCATE COMP "gen_ring[29].gen_st[4].inv" SITE "R4C54C";
LOCATE COMP "gen_ring[30].gen_st[0].inv" SITE "R4C58A";
LOCATE COMP "gen_ring[30].gen_st[1].inv" SITE "R4C58A";
LOCATE COMP "gen_ring[30].gen_st[2].inv" SITE "R4C58B";
LOCATE COMP "gen_ring[30].gen_st[3].inv" SITE "R4C58B";
LOCATE COMP "gen_ring[30].gen_st[4].inv" SITE "R4C58C";
LOCATE COMP "gen_ring[31].gen_st[0].inv" SITE "R4C62A";
LOCATE COMP "gen_ring[31].gen_st[1].inv" SITE "R4C62A";
LOCATE COMP "gen_ring[31].gen_st[2].inv" SITE "R4C62B";
LOCATE COMP "gen_ring[31].gen_st[3].inv" SITE "R4C62B";
LOCATE COMP "gen_ring[31].gen_st[4].inv" SITE "R4C62C";
LOCATE COMP "gen_ring[32].gen_st[0].inv" SITE "R6C2A";
LOCATE COMP "gen_ring[32].gen_st[1].inv" SITE "R6C2A";
LOCATE COMP "gen_ring[32].gen_st[2].inv" SITE "R6C2B";
LOCATE COMP "gen_ring[32].gen_st[3].inv" SITE "R6C2B";
LOCATE COMP "gen_ring[32].gen_st[4].inv" SITE "R6C2C";
LOCATE COMP "gen_ring[33].gen_st[0].inv" SITE "R6C6A";
LOCATE COMP "gen_ring[33].gen_st[1].inv" SITE "R6C6A";
LOCATE COMP "gen_ring[33].gen_st[2].inv" SITE "R6C6B";
LOCATE COMP "gen_ring[33].gen_st[3].inv" SITE "R6C6B";
LOCATE COMP "gen_ring[33].gen_st[4].inv" SITE "R6C6C";
LOCATE COMP "gen_ring[34].gen_st[0].inv" SITE "R6C10A";
LOCATE COMP "gen_ring[34].gen_st[1].inv" SITE "R6C10A";
LOCATE COMP "gen_ring[34].gen_st[2].inv" SITE "R6C10B";
LOCATE COMP "gen_ring[34].gen_st[3].inv" SITE "R6C10B";
LOCATE COMP "gen_ring[34].gen_st[4].inv" SITE "R6C10C";
LOCATE COMP "gen_ring[35].gen_st[0].inv" SITE "R6C14A";
LOCATE COMP "gen_ring[35].gen_st[1].inv" SITE "R6C14A";
LOCATE COMP "gen_ring[35].gen_st[2].inv" SITE "R6C14B";
LOCATE COMP "gen_ring[35].gen_st[3].inv" SITE "R6C14B";
LOCATE COMP "gen_ring[35].gen_st[4].inv" SITE "R6C14C";
LOCATE COMP "gen_ring[36].gen_st[0].inv" SITE "R6C18A";
LOCATE COMP "gen_ring[36].gen_st[1].inv" SITE "R6C18A";
LOCATE COMP "gen_ring[36].gen_st[2].inv" SITE "R6C18B";
LOCATE COMP "gen_ring[36].gen_st[3].inv" SITE "R6C18B";
LOCATE COMP "gen_ring[36].gen_st[4].inv" SITE "R6C18C";
LOCATE COMP "gen_ring[37].gen_st[0].inv" SITE "R6C22A";
LOCATE COMP "gen_ring[37].gen_st[1].inv" SITE "R6C22A";
LOCATE COMP "gen_ring[37].gen_st[2].inv" SITE "R6C22B";
LOCATE COMP "gen_ring[37].gen_st[3].inv" SITE "R6C22B";
LOCATE COMP "gen_ring[37].gen_st[4].inv" SITE "R6C22C";
LOCATE COMP "gen_ring[38].gen_st[0].inv" SITE "R6C26A";
LOCATE COMP "gen_ring[38].gen_st[1].inv" SITE "R6C26A";
LOCATE COMP "gen_ring[38].gen_st[2].inv" SITE "R6C26B";
LOCATE COMP "gen_ring[38].gen_st[3].inv" SITE "R6C26B";
LOCATE COMP "gen_ring[38].gen_st[4].inv" SITE "R6C26C";
LOCATE COMP "gen_ring[39].gen_st[0].inv" SITE "R6C30A";
LOCATE COMP "gen_ring[39].gen_st[1].inv" SITE "R6C30A";
LOCATE COMP "gen_ring[39].gen_st[2].inv" SITE "R6C30B";
LOCATE COMP "gen_ring[39].gen_st[3].inv" SITE "R6C30B";
LOCATE COMP "gen_ring[39].gen_st[4].inv" SITE "R6C30C";
LOCATE COMP "gen_ring[40].gen_st[0].inv" SITE "R6C34A";
LOCATE COMP "gen_ring[40].gen_st[1].inv" SITE "R6C34A";
LOCATE COMP "gen_ring[40].gen_st[2].inv" SITE "R6C34B";
LOCATE COMP "gen_ring[40].gen_st[3].inv" SITE "R6C34B";
LOCATE COMP "gen_ring[40].gen_st[4].inv" SITE "R6C34C";
LOCATE COMP "gen_ring[41].gen_st[0].inv" SITE "R6C38A";
LOCATE COMP "gen_ring[41].gen_st[1].inv" SITE "R6C38A";
LOCATE COMP "gen_ring[41].gen_st[2].inv" SITE "R6C38B";
LOCATE COMP "gen_ring[41].gen_st[3].inv" SITE "R6C38B";
LOCATE COMP "gen_ring[41].gen_st[4].inv" SITE "R6C38C";
LOCATE COMP "gen_ring[42].gen_st[0].inv" SITE "R6C42A";
LOCATE COMP "gen_ring[42].gen_st[1].inv" SITE "R6C42A";
LOCATE COMP "gen_ring[42].gen_st[2].inv" SITE "R6C42B";
LOCATE COMP "gen_ring[42].gen_st[3].inv" SITE "R6C42B";
LOCATE COMP "gen_ring[42].gen_st[4].inv" SITE "R6C42C";
LOCATE COMP "gen_ring[43].gen_st[0].inv" SITE "R6C46A";
LOCATE COMP "gen_ring[43].gen_st[1].inv" SITE "R6C46A";
LOCATE COMP "gen_ring[43].gen_st[2].inv" SITE "R6C46B";
LOCATE COMP "gen_ring[43].gen_st[3].inv" SITE "R6C46B";
LOCATE COMP "gen_ring[43].gen_st[4].inv" SITE "R6C46C";
LOCATE COMP "gen_ring[44].gen_st[0].inv" SITE "R6C50A";
LOCATE COMP "gen_ring[44].gen_st[1].inv" SITE "R6C50A";
LOCATE COMP "gen_ring[44].gen_st[2].inv" SITE "R6C50B";
LOCATE COMP "gen_ring[44].gen_st[3].inv" SITE "R6C50B";
LOCATE COMP "gen_ring[44].gen_st[4].inv" SITE "R6C50C";
LOCATE COMP "gen_ring[45].gen_st[0].inv" SITE "R6C54A";
LOCATE COMP "gen_ring[45].gen_st[1].inv" SITE "R6C54A";
LOCATE COMP "gen_ring[45].gen_st[2].inv" SITE "R6C54B";
LOCATE COMP "gen_ring[45].gen_st[3].inv" SITE "R6C54B";
LOCATE COMP "gen_ring[45].gen_st[4].inv" SITE "R6C54C";
LOCATE COMP "gen_ring[46].gen_st[0].inv" SITE "R6C58A";
LOCATE COMP "gen_ring[46].gen_st[1].inv" SITE "R6C58A";
LOCATE COMP "gen_ring[46].gen_st[2].inv" SITE "R6C58B";
LOCATE COMP "gen_ring[46].gen_st[3].inv" SITE "R6C58B";
LOCATE COMP "gen_ring[46].gen_st[4].inv" SITE "R6C58C";
LOCATE COMP "gen_ring[47].gen_st[0].inv" SITE "R6C62A";
LOCATE COMP "gen_ring[47].gen_st[1].inv" SITE "R6C62A";
LOCATE COMP "gen_ring[47].gen_st[2].inv" SITE "R6C62B";
LOCATE COMP "gen_ring[47].gen_st[3].inv" SITE "R6C62B";
LOCATE COMP "gen_ring[47].gen_st[4].inv" SITE "R6C62C";
LOCATE COMP "gen_ring[48].gen_st[0].inv" SITE "R8C2A";
LOCATE COMP "gen_ring[48].gen_st[1].inv" SITE "R8C2A";
LOCATE COMP "gen_ring[48].gen_st[2].inv" SITE "R8C2B";
LOCATE COMP "gen_ring[48].gen_st[3].inv" SITE "R8C2B";
LOCATE COMP "gen_ring[48].gen_st[4].inv" SITE "R8C2C";
LOCATE COMP "gen_ring[49].gen_st[0].inv" SITE "R8C6A";
LOCATE COMP "gen_ring[49].gen_st[1].inv" SITE "R8C6A";
LOCATE COMP "gen_ring[49].gen_st[2].inv" SITE "R8C6B";
LOCATE COMP "gen_ring[49].gen_st[3].inv" SITE "R8C6B";
LOCATE COMP "gen_ring[49].gen_st[4].inv" SITE "R8C6C";
LOCATE COMP "gen_ring[50].gen_st[0].inv" SITE "R8C10A";
LOCATE COMP "gen_ring[50].gen_st[1].inv" SITE "R8C10A";
LOCATE COMP "gen_ring[50].gen_st[2].inv" SITE "R8C10B";
LOCATE COMP "gen_ring[50].gen_st[3].inv" SITE "R8C10B";
LOCATE COMP "gen_ring[50].gen_st[4].inv" SITE "R8C10C";
LOCATE COMP "gen_ring[51].gen_st[0].inv" SITE "R8C14A";
LOCATE COMP "gen_ring[51].gen_st[1].inv" SITE "R8C14A";
LOCATE COMP "gen_ring[51].gen_st[2].inv" SITE "R8C14B";
LOCATE COMP "gen_ring[51].gen_st[3].inv" SITE "R8C14B";
LOCATE COMP "gen_ring[51].gen_st[4].inv" SITE "R8C14C";
LOCATE COMP "gen_ring[52].gen_st[0].inv" SITE "R8C18A";
LOCATE COMP "gen_ring[52].gen_st[1].inv" SITE "R8C18A";
LOCATE COMP "gen_ring[52].gen_st[2].inv" SITE "R8C18B";
LOCATE COMP "gen_ring[52].gen_st[3].inv" SITE "R8C18B";
LOCATE COMP "gen_ring[52].gen_st[4].inv" SITE "R8C18C";
LOCATE COMP "gen_ring[53].gen_st[0].inv" SITE "R8C22A";
LOCATE COMP "gen_ring[53].gen_st[1].inv" SITE "R8C22A";
LOCATE COMP "gen_ring[53].gen_st[2].inv" SITE "R8C22B";
LOCATE COMP "gen_ring[53].gen_st[3].inv" SITE "R8C22B";
LOCATE COMP "gen_ring[53].gen_st[4].inv" SITE "R8C22C";
LOCATE COMP "gen_ring[54].gen_st[0].inv" SITE "R8C26A";
LOCATE COMP "gen_ring[54].gen_st[1].inv" SITE "R8C26A";
LOCATE COMP "gen_ring[54].gen_st[2].inv" SITE "R8C26B";
LOCATE COMP "gen_ring[54].gen_st[3].inv" SITE "R8C26B";
LOCATE COMP "gen_ring[54].gen_st[4].inv" SITE "R8C26C";
LOCATE COMP "gen_ring[55].gen_st[0].inv" SITE "R8C30A";
LOCATE COMP "gen_ring[55].gen_st[1].inv" SITE "R8C30A";
LOCATE COMP "gen_ring[55].gen_st[2].inv" SITE "R8C30B";
LOCATE COMP "gen_ring[55].gen_st[3].inv" SITE "R8C30B";
LOCATE COMP "gen_ring[55].gen_st[4].inv" SITE "R8C30C";
LOCATE COMP "gen_ring[56].gen_st[0].inv" SITE "R8C34A";
LOCATE COMP "gen_ring[56].gen_st[1].inv" SITE "R8C34A";
LOCATE COMP "gen_ring[56].gen_st[2].inv" SITE "R8C34B";
LOCATE COMP "gen_ring[56].gen_st[3].inv" SITE "R8C34B";
LOCATE COMP "gen_ring[56].gen_st[4].inv" SITE "R8C34C";
LOCATE COMP "gen_ring[57].gen_st[0].inv" SITE "R8C38A";
LOCATE COMP "gen_ring[57].gen_st[1].inv" SITE "R8C38A";
LOCATE COMP "gen_ring[57].gen_st[2].inv" SITE "R8C38B";
LOCATE COMP "gen_ring[57].gen_st[3].inv" SITE "R8C38B";
LOCATE COMP "gen_ring[57].gen_st[4].inv" SITE "R8C38C";
LOCATE COMP "gen_ring[58].gen_st[0].inv" SITE "R8C42A";
LOCATE COMP "gen_ring[58].gen_st[1].inv" SITE "R8C42A";
LOCATE COMP "gen_ring[58].gen_st[2].inv" SITE "R8C42B";
LOCATE COMP "gen_ring[58].gen_st[3].inv" SITE "R8C42B";
LOCATE COMP "gen_ring[58].gen_st[4].inv" SITE "R8C42C";
LOCATE COMP "gen_ring[59].gen_st[0].inv" SITE "R8C46A";
LOCATE COMP "gen_ring[59].gen_st[1].inv" SITE "R8C46A";
LOCATE COMP "gen_ring[59].gen_st[2].inv" SITE "R8C46B";
LOCATE COMP "gen_ring[59].gen_st[3].inv" SITE "R8C46B";
LOCATE COMP "gen_ring[59].gen_st[4].inv" SITE "R8C46C";
LOCATE COMP "gen_ring[60].gen_st[0].inv" SITE "R8C50A";
LOCATE COMP "gen_ring[60].gen_st[1].inv" SITE "R8C50A";
LOCATE COMP "gen_ring[60].gen_st[2].inv" SITE "R8C50B";
LOCATE COMP "gen_ring[60].gen_st[3].inv" SITE "R8C50B";
LOCATE COMP "gen_ring[60].gen_st[4].inv" SITE "R8C50C";
LOCATE COMP "gen_ring[61].gen_st[0].inv" SITE "R8C54A";
LOCATE COMP "gen_ring[61].gen_st[1].inv" SITE "R8C54A";
LOCATE COMP "gen_ring[61].gen_st[2].inv" SITE "R8C54B";
LOCATE COMP "gen_ring[61].gen_st[3].inv" SITE "R8C54B";
LOCATE COMP "gen_ring[61].gen_st[4].inv" SITE "R8C54C";
LOCATE COMP "gen_ring[62].gen_st[0].inv" SITE "R8C58A";
LOCATE COMP "gen_ring[62].gen_st[1].inv" SITE "R8C58A";
LOCATE COMP "gen_ring[62].gen_st[2].inv" SITE "R8C58B";
LOCATE COMP "gen_ring[62].gen_st[3].inv" SITE "R8C58B";
LOCATE COMP "gen_ring[62].gen_st[4].inv" SITE "R8C58C";
LOCATE COMP "gen_ring[63].gen_st[0].inv" SITE "R8C62A";
LOCATE COMP "gen_ring[63].gen_st[1].inv" SITE "R8C62A";
LOCATE COMP "gen_ring[63].gen_st[2].inv" SITE "R8C62B";
LOCATE COMP "gen_ring[63].gen_st[3].inv" SITE "R8C62B";
LOCATE COMP "gen_ring[63].gen_st[4].inv" SITE "R8C62C";
LOCATE COMP "gen_ring[64].gen_st[0].inv" SITE "R14C2A";
LOCATE COMP "gen_ring[64].gen_st[1].inv" SITE "R14C2A";
LOCATE COMP "gen_ring[64].gen_st[2].inv" SITE "R14C2B";
LOCATE COMP "gen_ring[64].gen_st[3].inv" SITE "R14C2B";
LOCATE COMP "gen_ring[64].gen_st[4].inv" SITE "R14C2C";
LOCATE COMP "gen_ring[65].gen_st[0].inv" SITE "R14C6A";
LOCATE COMP "gen_ring[65].gen_st[1].inv" SITE "R14C6A";
LOCATE COMP "gen_ring[65].gen_st[2].inv" SITE "R14C6B";
LOCATE COMP "gen_ring[65].gen_st[3].inv" SITE "R14C6B";
LOCATE COMP "gen_ring[65].gen_st[4].inv" SITE "R14C6C";
LOCATE COMP "gen_ring[66].gen_st[0].inv" SITE "R14C10A";
LOCATE COMP "gen_ring[66].gen_st[1].inv" SITE "R14C10A";
LOCATE COMP "gen_ring[66].gen_st[2].inv" SITE "R14C10B";
LOCATE COMP "gen_ring[66].gen_st[3].inv" SITE "R14C10B";
LOCATE COMP "gen_ring[66].gen_st[4].inv" SITE "R14C10C";
LOCATE COMP "gen_ring[67].gen_st[0].inv" SITE "R14C14A";
LOCATE COMP "gen_ring[67].gen_st[1].inv" SITE "R14C14A";
LOCATE COMP "gen_ring[67].gen_st[2].inv" SITE "R14C14B";
LOCATE COMP "gen_ring[67].gen_st[3].inv" SITE "R14C14B";
LOCATE COMP "gen_ring[67].gen_st[4].inv" SITE "R14C14C";
LOCATE COMP "gen_ring[68].gen_st[0].inv" SITE "R14C18A";
LOCATE COMP "gen_ring[68].gen_st[1].inv" SITE "R14C18A";
LOCATE COMP "gen_ring[68].gen_st[2].inv" SITE "R14C18B";
LOCATE COMP "gen_ring[68].gen_st[3].inv" SITE "R14C18B";
LOCATE COMP "gen_ring[68].gen_st[4].inv" SITE "R14C18C";
LOCATE COMP "gen_ring[69].gen_st[0].inv" SITE "R14C22A";
LOCATE COMP "gen_ring[69].gen_st[1].inv" SITE "R14C22A";
LOCATE COMP "gen_ring[69].gen_st[2].inv" SITE "R14C22B";
LOCATE COMP "gen_ring[69].gen_st[3].inv" SITE "R14C22B";
LOCATE COMP "gen_ring[69].gen_st[4].inv" SITE "R14C22C";
LOCATE COMP "gen_ring[70].gen_st[0].inv" SITE "R14C26A";
LOCATE COMP "gen_ring[70].gen_st[1].inv" SITE "R14C26A";
LOCATE COMP "gen_ring[70].gen_st[2].inv" SITE "R14C26B";
LOCATE COMP "gen_ring[70].gen_st[3].inv" SITE "R14C26B";
LOCATE COMP "gen_ring[70].gen_st[4].inv" SITE "R14C26C";
LOCATE COMP "gen_ring[71].gen_st[0].inv" SITE "R14C30A";
LOCATE COMP "gen_ring[71].gen_st[1].inv" SITE "R14C30A";
LOCATE COMP "gen_ring[71].gen_st[2].inv" SITE "R14C30B";
LOCATE COMP "gen_ring[71].gen_st[3].inv" SITE "R14C30B";
LOCATE COMP "gen_ring[71].gen_st[4].inv" SITE "R14C30C";
LOCATE COMP "gen_ring[72].gen_st[0].inv" SITE "R14C34A";
LOCATE COMP "gen_ring[72].gen_st[1].inv" SITE "R14C34A";
LOCATE COMP "gen_ring[72].gen_st[2].inv" SITE "R14C34B";
LOCATE COMP "gen_ring[72].gen_st[3].inv" SITE "R14C34B";
LOCATE COMP "gen_ring[72].gen_st[4].inv" SITE "R14C34C";
LOCATE COMP "gen_ring[73].gen_st[0].inv" SITE "R14C38A";
LOCATE COMP "gen_ring[73].gen_st[1].inv" SITE "R14C38A";
LOCATE COMP "gen_ring[73].gen_st[2].inv" SITE "R14C38B";
LOCATE COMP "gen_ring[73].gen_st[3].inv" SITE "R14C38B";
LOCATE COMP "gen_ring[73].gen_st[4].inv" SITE "R14C38C";
LOCATE COMP "gen_ring[74].gen_st[0].inv" SITE "R14C42A";
LOCATE COMP "gen_ring[74].gen_st[1].inv" SITE "R14C42A";
LOCATE COMP "gen_ring[74].gen_st[2].inv" SITE "R14C42B";
LOCATE COMP "gen_ring[74].gen_st[3].inv" SITE "R14C42B";
LOCATE COMP "gen_ring[74].gen_st[4].inv" SITE "R14C42C";
LOCATE COMP "gen_ring[75].gen_st[0].inv" SITE "R14C46A";
LOCATE COMP "gen_ring[75].gen_st[1].inv" SITE "R14C46A";
LOCATE COMP "gen_ring[75].gen_st[2].inv" SITE "R14C46B";
LOCATE COMP "gen_ring[75].gen_st[3].inv" SITE "R14C46B";
LOCATE COMP "gen_ring[75].gen_st[4].inv" SITE "R14C46C";
LOCATE COMP "gen_ring[76].gen_st[0].inv" SITE "R14C50A";
LOCATE COMP "gen_ring[76].gen_st[1].inv" SITE "R14C50A";
LOCATE COMP "gen_ring[76].gen_st[2].inv" SITE "R14C50B";
LOCATE COMP "gen_ring[76].gen_st[3].inv" SITE "R14C50B";
LOCATE COMP "gen_ring[76].gen_st[4].inv" SITE "R14C50C";
LOCATE COMP "gen_ring[77].gen_st[0].inv" SITE "R14C54A";
LOCATE COMP "gen_ring[77].gen_st[1].inv" SITE "R14C54A";
LOCATE COMP "gen_ring[77].gen_st[2].inv" SITE "R14C54B";
LOCATE COMP "gen_ring[77].gen_st[3].inv" SITE "R14C54B";
LOCATE COMP "gen_ring[77].gen_st[4].inv" SITE "R14C54C";
LOCATE COMP "gen_ring[78].gen_st[0].inv" SITE "R14C58A";
LOCATE COMP "gen_ring[78].gen_st[1].inv" SITE "R14C58A";
LOCATE COMP "gen_ring[78].gen_st[2].inv" SITE "R14C58B";
LOCATE COMP "gen_ring[78].gen_st[3].inv" SITE "R14C58B";
LOCATE COMP "gen_ring[78].gen_st[4].inv" SITE "R14C58C";
LOCATE COMP "gen_ring[79].gen_st[0].inv" SITE "R14C62A";
LOCATE COMP "gen_ring[79].gen_st[1].inv" SITE "R14C62A";
LOCATE COMP "gen_ring[79].gen_st[2].inv" SITE "R14C62B";
LOCATE COMP "gen_ring[79].gen_st[3].inv" SITE "R14C62B";
LOCATE COMP "gen_ring[79].gen_st[4].inv" SITE "R14C62C";
LOCATE COMP "gen_ring[80].gen_st[0].inv" SITE "R16C2A";
LOCATE COMP "gen_ring[80].gen_st[1].inv" SITE "R16C2A";
LOCATE COMP "gen_ring[80].gen_st[2].inv" SITE "R16C2B";
LOCATE COMP "gen_ring[80].gen_st[3].inv" SITE "R16C2B";
LOCATE COMP "gen_ring[80].gen_st[4].inv" SITE "R16C2C";
LOCATE COMP "gen_ring[81].gen_st[0].inv" SITE "R16C6A";
LOCATE COMP "gen_ring[81].gen_st[1].inv" SITE "R16C6A";
LOCATE COMP "gen_ring[81].gen_st[2].inv" SITE "R16C6B";
LOCATE COMP "gen_ring[81].gen_st[3].inv" SITE "R16C6B";
LOCATE COMP "gen_ring[81].gen_st[4].inv" SITE "R16C6C";
LOCATE COMP "gen_ring[82].gen_st[0].inv" SITE "R16C10A";
LOCATE COMP "gen_ring[82].gen_st[1].inv" SITE "R16C10A";
LOCATE COMP "gen_ring[82].gen_st[2].inv" SITE "R16C10B";
LOCATE COMP "gen_ring[82].gen_st[3].inv" SITE "R16C10B";
LOCATE COMP "gen_ring[82].gen_st[4].inv" SITE "R16C10C";
LOCATE COMP "gen_ring[83].gen_st[0].inv" SITE "R16C14A";
LOCATE COMP "gen_ring[83].gen_st[1].inv" SITE "R16C14A";
LOCATE COMP "gen_ring[83].gen_st[2].inv" SITE "R16C14B";
LOCATE COMP "gen_ring[83].gen_st[3].inv" SITE "R16C14B";
LOCATE COMP "gen_ring[83].gen_st[4].inv" SITE "R16C14C";
LOCATE COMP "gen_ring[84].gen_st[0].inv" SITE "R16C18A";
LOCATE COMP "gen_ring[84].gen_st[1].inv" SITE "R16C18A";
LOCATE COMP "gen_ring[84].gen_st[2].inv" SITE "R16C18B";
LOCATE COMP "gen_ring[84].gen_st[3].inv" SITE "R16C18B";
LOCATE COMP "gen_ring[84].gen_st[4].inv" SITE "R16C18C";
LOCATE COMP "gen_ring[85].gen_st[0].inv" SITE "R16C22A";
LOCATE COMP "gen_ring[85].gen_st[1].inv" SITE "R16C22A";
LOCATE COMP "gen_ring[85].gen_st[2].inv" SITE "R16C22B";
LOCATE COMP "gen_ring[85].gen_st[3].inv" SITE "R16C22B";
LOCATE COMP "gen_ring[85].gen_st[4].inv" SITE "R16C22C";
LOCATE COMP "gen_ring[86].gen_st[0].inv" SITE "R16C26A";
LOCATE COMP "gen_ring[86].gen_st[1].inv" SITE "R16C26A";
LOCATE COMP "gen_ring[86].gen_st[2].inv" SITE "R16C26B";
LOCATE COMP "gen_ring[86].gen_st[3].inv" SITE "R16C26B";
LOCATE COMP "gen_ring[86].gen_st[4].inv" SITE "R16C26C";
LOCATE COMP "gen_ring[87].gen_st[0].inv" SITE "R16C30A";
LOCATE COMP "gen_ring[87].gen_st[1].inv" SITE "R16C30A";
LOCATE COMP "gen_ring[87].gen_st[2].inv" SITE "R16C30B";
LOCATE COMP "gen_ring[87].gen_st[3].inv" SITE "R16C30B";
LOCATE COMP "gen_ring[87].gen_st[4].inv" SITE "R16C30C";
LOCATE COMP "gen_ring[88].gen_st[0].inv" SITE "R16C34A";
LOCATE COMP "gen_ring[88].gen_st[1].inv" SITE "R16C34A";
LOCATE COMP "gen_ring[88].gen_st[2].inv" SITE "R16C34B";
LOCATE COMP "gen_ring[88].gen_st[3].inv" SITE "R16C34B";
LOCATE COMP "gen_ring[88].gen_st[4].inv" SITE "R16C34C";
LOCATE COMP "gen_ring[89].gen_st[0].inv" SITE "R16C38A";
LOCATE COMP "gen_ring[89].gen_st[1].inv" SITE "R16C38A";
LOCATE COMP "gen_ring[89].gen_st[2].inv" SITE "R16C38B";
LOCATE COMP "gen_ring[89].gen_st[3].inv" SITE "R16C38B";
LOCATE COMP "gen_ring[89].gen_st[4].inv" SITE "R16C38C";
LOCATE COMP "gen_ring[90].gen_st[0].inv" SITE "R16C42A";
LOCATE COMP "gen_ring[90].gen_st[1].inv" SITE "R16C42A";
LOCATE COMP "gen_ring[90].gen_st[2].inv" SITE "R16C42B";
LOCATE COMP "gen_ring[90].gen_st[3].inv" SITE "R16C42B";
LOCATE COMP "gen_ring[90].gen_st[4].inv" SITE "R16C42C";
LOCATE COMP "gen_ring[91].gen_st[0].inv" SITE "R16C46A";
LOCATE COMP "gen_ring[91].gen_st[1].inv" SITE "R16C46A";
LOCATE COMP "gen_ring[91].gen_st[2].inv" SITE "R16C46B";
LOCATE COMP "gen_ring[91].gen_st[3].inv" SITE "R16C46B";
LOCATE COMP "gen_ring[91].gen_st[4].inv" SITE "R16C46C";
LOCATE COMP "gen_ring[92].gen_st[0].inv" SITE "R16C50A";
LOCATE COMP "gen_ring[92].gen_st[1].inv" SITE "R16C50A";
LOCATE COMP "gen_ring[92].gen_st[2].inv" SITE "R16C50B";
LOCATE COMP "gen_ring[92].gen_st[3].inv" SITE "R16C50B";
LOCATE COMP "gen_ring[92].gen_st[4].inv" SITE "R16C50C";
LOCATE COMP "gen_ring[93].gen_st[0].inv" SITE "R16C54A";
LOCATE COMP "gen_ring[93].gen_st[1].inv" SITE "R16C54A";
LOCATE COMP "gen_ring[93].gen_st[2].inv" SITE "R16C54B";
LOCATE COMP "gen_ring[93].gen_st[3].inv" SITE "R16C54B";
LOCATE COMP "gen_ring[93].gen_st[4].inv" SITE "R16C54C";
LOCATE COMP "gen_ring[94].gen_st[0].inv" SITE "R16C58A";
LOCATE COMP "gen_ring[94].gen_st[1].inv" SITE "R16C58A";
LOCATE COMP "gen_ring[94].gen_st[2].inv" SITE "R16C58B";
LOCATE COMP "gen_ring[94].gen_st[3].inv" SITE "R16C58B";
LOCATE COMP "gen_ring[94].gen_st[4].inv" SITE "R16C58C";
LOCATE COMP "gen_ring[95].gen_st[0].inv" SITE "R16C62A";
LOCATE COMP "gen_ring[95].gen_st[1].inv" SITE "R16C62A";
LOCATE COMP "gen_ring[95].gen_st[2].inv" SITE "R16C62B";
LOCATE COMP "gen_ring[95].gen_st[3].inv" SITE "R16C62B";
LOCATE COMP "gen_ring[95].gen_st[4].inv" SITE "R16C62C";
LOCATE COMP "gen_ring[96].gen_st[0].inv" SITE "R18C2A";
LOCATE COMP "gen_ring[96].gen_st[1].inv" SITE "R18C2A";
LOCATE COMP "gen_ring[96].gen_st[2].inv" SITE "R18C2B";
LOCATE COMP "gen_ring[96].gen_st[3].inv" SITE "R18C2B";
LOCATE COMP "gen_ring[96].gen_st[4].inv" SITE "R18C2C";
LOCATE COMP "gen_ring[97].gen_st[0].inv" SITE "R18C6A";
LOCATE COMP "gen_ring[97].gen_st[1].inv" SITE "R18C6A";
LOCATE COMP "gen_ring[97].gen_st[2].inv" SITE "R18C6B";
LOCATE COMP "gen_ring[97].gen_st[3].inv" SITE "R18C6B";
LOCATE COMP "gen_ring[97].gen_st[4].inv" SITE "R18C6C";
LOCATE COMP "gen_ring[98].gen_st[0].inv" SITE "R18C10A";
LOCATE COMP "gen_ring[98].gen_st[1].inv" SITE "R18C10A";
LOCATE COMP "gen_ring[98].gen_st[2].inv" SITE "R18C10B";
LOCATE COMP "gen_ring[98].gen_st[3].inv" SITE "R18C10B";
LOCATE COMP "gen_ring[98].gen_st[4].inv" SITE "R18C10C";
LOCATE COMP "gen_ring[99].gen_st[0].inv" SITE "R18C14A";
LOCATE COMP "gen_ring[99].gen_st[1].inv" SITE "R18C14A";
LOCATE COMP "gen_ring[99].gen_st[2].inv" SITE "R18C14B";
LOCATE COMP "gen_ring[99].gen_st[3].inv" SITE "R18C14B";
LOCATE COMP "gen_ring[99].gen_st[4].inv" SITE "R18C14C";
LOCATE COMP "gen_ring[100].gen_st[0].inv" SITE "R18C18A";
LOCATE COMP "gen_ring[100].gen_st[1].inv" SITE "R18C18A";
LOCATE COMP "gen_ring[100].gen_st[2].inv" SITE "R18C18B";
LOCATE COMP "gen_ring[100].gen_st[3].inv" SITE "R18C18B";
LOCATE COMP "gen_ring[100].gen_st[4].inv" SITE "R18C18C";
LOCATE COMP "gen_ring[101].gen_st[0].inv" SITE "R18C22A";
LOCATE COMP "gen_ring[101].gen_st[1].inv" SITE "R18C22A";
LOCATE COMP "gen_ring[101].gen_st[2].inv" SITE "R18C22B";
LOCATE COMP "gen_ring[101].gen_st[3].inv" SITE "R18C22B";
LOCATE COMP "gen_ring[101].gen_st[4].inv" SITE "R18C22C";
LOCATE COMP "gen_ring[102].gen_st[0].inv" SITE "R18C26A";
LOCATE COMP "gen_ring[102].gen_st[1].inv" SITE "R18C26A";
LOCATE COMP "gen_ring[102].gen_st[2].inv" SITE "R18C26B";
LOCATE COMP "gen_ring[102].gen_st[3].inv" SITE "R18C26B";
LOCATE COMP "gen_ring[102].gen_st[4].inv" SITE "R18C26C";
LOCATE COMP "gen_ring[103].gen_st[0].inv" SITE "R18C30A";
LOCATE COMP "gen_ring[103].gen_st[1].inv" SITE "R18C30A";
LOCATE COMP "gen_ring[103].gen_st[2].inv" SITE "R18C30B";
LOCATE COMP "gen_ring[103].gen_st[3].inv" SITE "R18C30B";
LOCATE COMP "gen_ring[103].gen_st[4].inv" SITE "R18C30C";
LOCATE COMP "gen_ring[104].gen_st[0].inv" SITE "R18C34A";
LOCATE COMP "gen_ring[104].gen_st[1].inv" SITE "R18C34A";
LOCATE COMP "gen_ring[104].gen_st[2].inv" SITE "R18C34B";
LOCATE COMP "gen_ring[104].gen_st[3].inv" SITE "R18C34B";
LOCATE COMP "gen_ring[104].gen_st[4].inv" SITE "R18C34C";
LOCATE COMP "gen_ring[105].gen_st[0].inv" SITE "R18C38A";
LOCATE COMP "gen_ring[105].gen_st[1].inv" SITE "R18C38A";
LOCATE COMP "gen_ring[105].gen_st[2].inv" SITE "R18C38B";
LOCATE COMP "gen_ring[105].gen_st[3].inv" SITE "R18C38B";
LOCATE COMP "gen_ring[105].gen_st[4].inv" SITE "R18C38C";
LOCATE COMP "gen_ring[106].gen_st[0].inv" SITE "R18C42A";
LOCATE COMP "gen_ring[106].gen_st[1].inv" SITE "R18C42A";
LOCATE COMP "gen_ring[106].gen_st[2].inv" SITE "R18C42B";
LOCATE COMP "gen_ring[106].gen_st[3].inv" SITE "R18C42B";
LOCATE COMP "gen_ring[106].gen_st[4].inv" SITE "R18C42C";
LOCATE COMP "gen_ring[107].gen_st[0].inv" SITE "R18C46A";
LOCATE COMP "gen_ring[107].gen_st[1].inv" SITE "R18C46A";
LOCATE COMP "gen_ring[107].gen_st[2].inv" SITE "R18C46B";
LOCATE COMP "gen_ring[107].gen_st[3].inv" SITE "R18C46B";
LOCATE COMP "gen_ring[107].gen_st[4].inv" SITE "R18C46C";
LOCATE COMP "gen_ring[108].gen_st[0].inv" SITE "R18C50A";
LOCATE COMP "gen_ring[108].gen_st[1].inv" SITE "R18C50A";
LOCATE COMP "gen_ring[108].gen_st[2].inv" SITE "R18C50B";
LOCATE COMP "gen_ring[108].gen_st[3].inv" SITE "R18C50B";
LOCATE COMP "gen_ring[108].gen_st[4].inv" SITE "R18C50C";
LOCATE COMP "gen_ring[109].gen_st[0].inv" SITE "R18C54A";
LOCATE COMP "gen_ring[109].gen_st[1].inv" SITE "R18C54A";
LOCATE COMP "gen_ring[109].gen_st[2].inv" SITE "R18C54B";
LOCATE COMP "gen_ring[109].gen_st[3].inv" SITE "R18C54B";
LOCATE COMP "gen_ring[109].gen_st[4].inv" SITE "R18C54C";
LOCATE COMP "gen_ring[110].gen_st[0].inv" SITE "R18C58A";
LOCATE COMP "gen_ring[110].gen_st[1].inv" SITE "R18C58A";
LOCATE COMP "gen_ring[110].gen_st[2].inv" SITE "R18C58B";
LOCATE COMP "gen_ring[110].gen_st[3].inv" SITE "R18C58B";
LOCATE COMP "gen_ring[110].gen_st[4].inv" SITE "R18C58C";
LOCATE COMP "gen_ring[111].gen_st[0].inv" SITE "R18C62A";
LOCATE COMP "gen_ring[111].gen_st[1].inv" SITE "R18C62A";
LOCATE COMP "gen_ring[111].gen_st[2].inv" SITE "R18C62B";
LOCATE COMP "gen_ring[111].gen_st[3].inv" SITE "R18C62B";
LOCATE COMP "gen_ring[111].gen_st[4].inv" SITE "R18C62C";
LOCATE COMP "gen_ring[112].gen_st[0].inv" SITE "R20C2A";
LOCATE COMP "gen_ring[112].gen_st[1].inv" SITE "R20C2A";
LOCATE COMP "gen_ring[112].gen_st[2].inv" SITE "R20C2B";
LOCATE COMP "gen_ring[112].gen_st[3].inv" SITE "R20C2B";
LOCATE COMP "gen_ring[112].gen_st[4].inv" SITE "R20C2C";
LOCATE COMP "gen_ring[113].gen_st[0].inv" SITE "R20C6A";
LOCATE COMP "gen_ring[113].gen_st[1].inv" SITE "R20C6A";
LOCATE COMP "gen_ring[113].gen_st[2].inv" SITE "R20C6B";
LOCATE COMP "gen_ring[113].gen_st[3].inv" SITE "R20C6B";
LOCATE COMP "gen_ring[113].gen_st[4].inv" SITE "R20C6C";
LOCATE COMP "gen_ring[114].gen_st[0].inv" SITE "R20C10A";
LOCATE COMP "gen_ring[114].gen_st[1].inv" SITE "R20C10A";
LOCATE COMP "gen_ring[114].gen_st[2].inv" SITE "R20C10B";
LOCATE COMP "gen_ring[114].gen_st[3].inv" SITE "R20C10B";
LOCATE COMP "gen_ring[114].gen_st[4].inv" SITE "R20C10C";
LOCATE COMP "gen_ring[115].gen_st[0].inv" SITE "R20C14A";
LOCATE COMP "gen_ring[115].gen_st[1].inv" SITE "R20C14A";
LOCATE COMP "gen_ring[115].gen_st[2].inv" SITE "R20C14B";
LOCATE COMP "gen_ring[115].gen_st[3].inv" SITE "R20C14B";
LOCATE COMP "gen_ring[115].gen_st[4].inv" SITE "R20C14C";
LOCATE COMP "gen_ring[116].gen_st[0].inv" SITE "R20C18A";
LOCATE COMP "gen_ring[116].gen_st[1].inv" SITE "R20C18A";
LOCATE COMP "gen_ring[116].gen_st[2].inv" SITE "R20C18B";
LOCATE COMP "gen_ring[116].gen_st[3].inv" SITE "R20C18B";
LOCATE COMP "gen_ring[116].gen_st[4].inv" SITE "R20C18C";
LOCATE COMP "gen_ring[117].gen_st[0].inv" SITE "R20C22A";
LOCATE COMP "gen_ring[117].gen_st[1].inv" SITE "R20C22A";
LOCATE COMP "gen_ring[117].gen_st[2].inv" SITE "R20C22B";
LOCATE COMP "gen_ring[117].gen_st[3].inv" SITE "R20C22B";
LOCATE COMP "gen_ring[117].gen_st[4].inv" SITE "R20C22C";
LOCATE COMP "gen_ring[118].gen_st[0].inv" SITE "R20C26A";
LOCATE COMP "gen_ring[118].gen_st[1].inv" SITE "R20C26A";
LOCATE COMP "gen_ring[118].gen_st[2].inv" SITE "R20C26B";
LOCATE COMP "gen_ring[118].gen_st[3].inv" SITE "R20C26B";
LOCATE COMP "gen_ring[118].gen_st[4].inv" SITE "R20C26C";
LOCATE COMP "gen_ring[119].gen_st[0].inv" SITE "R20C30A";
LOCATE COMP "gen_ring[119].gen_st[1].inv" SITE "R20C30A";
LOCATE COMP "gen_ring[119].gen_st[2].inv" SITE "R20C30B";
LOCATE COMP "gen_ring[119].gen_st[3].inv" SITE "R20C30B";
LOCATE COMP "gen_ring[119].gen_st[4].inv" SITE "R20C30C";
LOCATE COMP "gen_ring[120].gen_st[0].inv" SITE "R20C34A";
LOCATE COMP "gen_ring[120].gen_st[1].inv" SITE "R20C34A";
LOCATE COMP "gen_ring[120].gen_st[2].inv" SITE "R20C34B";
LOCATE COMP "gen_ring[120].gen_st[3].inv" SITE "R20C34B";
LOCATE COMP "gen_ring[120].gen_st[4].inv" SITE "R20C34C";
LOCATE COMP "gen_ring[121].gen_st[0].inv" SITE "R20C38A";
LOCATE COMP "gen_ring[121].gen_st[1].inv" SITE "R20C38A";
LOCATE COMP "gen_ring[121].gen_st[2].inv" SITE "R20C38B";
LOCATE COMP "gen_ring[121].gen_st[3].inv" SITE "R20C38B";
LOCATE COMP "gen_ring[121].gen_st[4].inv" SITE "R20C38C";
LOCATE COMP "gen_ring[122].gen_st[0].inv" SITE "R20C42A";
LOCATE COMP "gen_ring[122].gen_st[1].inv" SITE "R20C42A";
LOCATE COMP "gen_ring[122].gen_st[2].inv" SITE "R20C42B";
LOCATE COMP "gen_ring[122].gen_st[3].inv" SITE "R20C42B";
LOCATE COMP "gen_ring[122].gen_st[4].inv" SITE "R20C42C";
LOCATE COMP "gen_ring[123].gen_st[0].inv" SITE "R20C46A";
LOCATE COMP "gen_ring[123].gen_st[1].inv" SITE "R20C46A";
LOCATE COMP "gen_ring[123].gen_st[2].inv" SITE "R20C46B";
LOCATE COMP "gen_ring[123].gen_st[3].inv" SITE "R20C46B";
LOCATE COMP "gen_ring[123].gen_st[4].inv" SITE "R20C46C";
LOCATE COMP "gen_ring[124].gen_st[0].inv" SITE "R20C50A";
LOCATE COMP "gen_ring[124].gen_st[1].inv" SITE "R20C50A";
LOCATE COMP "gen_ring[124].gen_st[2].inv" SITE "R20C50B";
LOCATE COMP "gen_ring[124].gen_st[3].inv" SITE "R20C50B";
LOCATE COMP "gen_ring[124].gen_st[4].inv" SITE "R20C50C";
LOCATE COMP "gen_ring[125].gen_st[0].inv" SITE "R20C54A";
LOCATE COMP "gen_ring[125].gen_st[1].inv" SITE "R20C54A";
LOCATE COMP "gen_ring[125].gen_st[2].inv" SITE "R20C54B";
LOCATE COMP "gen_ring[125].gen_st[3].inv" SITE "R20C54B";
LOCATE COMP "gen_ring[125].gen_st[4].inv" SITE "R20C54C";
LOCATE COMP "gen_ring[126].gen_st[0].inv" SITE "R20C58A";
LOCATE COMP "gen_ring[126].gen_st[1].inv" SITE "R20C58A";
LOCATE COMP "gen_ring[126].gen_st[2].inv" SITE "R20C58B";
LOCATE COMP "gen_ring[126].gen_st[3].inv" SITE "R20C58B";
LOCATE COMP "gen_ring[126].gen_st[4].inv" SITE "R20C58C";
LOCATE COMP "gen_ring[127].gen_st[0].inv" SITE "R20C62A";
LOCATE COMP "gen_ring[127].gen_st[1].inv" SITE "R20C62A";
LOCATE COMP "gen_ring[127].gen_st[2].inv" SITE "R20C62B";
LOCATE COMP "gen_ring[127].gen_st[3].inv" SITE "R20C62B";
LOCATE COMP "gen_ring[127].gen_st[4].inv" SITE "R20C62C";
LOCATE COMP "gen_ring[128].gen_st[0].inv" SITE "R26C2A";
LOCATE COMP "gen_ring[128].gen_st[1].inv" SITE "R26C2A";
LOCATE COMP "gen_ring[128].gen_st[2].inv" SITE "R26C2B";
LOCATE COMP "gen_ring[128].gen_st[3].inv" SITE "R26C2B";
LOCATE COMP "gen_ring[128].gen_st[4].inv" SITE "R26C2C";
LOCATE COMP "gen_ring[129].gen_st[0].inv" SITE "R26C6A";
LOCATE COMP "gen_ring[129].gen_st[1].inv" SITE "R26C6A";
LOCATE COMP "gen_ring[129].gen_st[2].inv" SITE "R26C6B";
LOCATE COMP "gen_ring[129].gen_st[3].inv" SITE "R26C6B";
LOCATE COMP "gen_ring[129].gen_st[4].inv" SITE "R26C6C";
LOCATE COMP "gen_ring[130].gen_st[0].inv" SITE "R26C10A";
LOCATE COMP "gen_ring[130].gen_st[1].inv" SITE "R26C10A";
LOCATE COMP "gen_ring[130].gen_st[2].inv" SITE "R26C10B";
LOCATE COMP "gen_ring[130].gen_st[3].inv" SITE "R26C10B";
LOCATE COMP "gen_ring[130].gen_st[4].inv" SITE "R26C10C";
LOCATE COMP "gen_ring[131].gen_st[0].inv" SITE "R26C14A";
LOCATE COMP "gen_ring[131].gen_st[1].inv" SITE "R26C14A";
LOCATE COMP "gen_ring[131].gen_st[2].inv" SITE "R26C14B";
LOCATE COMP "gen_ring[131].gen_st[3].inv" SITE "R26C14B";
LOCATE COMP "gen_ring[131].gen_st[4].inv" SITE "R26C14C";
LOCATE COMP "gen_ring[132].gen_st[0].inv" SITE "R26C18A";
LOCATE COMP "gen_ring[132].gen_st[1].inv" SITE "R26C18A";
LOCATE COMP "gen_ring[132].gen_st[2].inv" SITE "R26C18B";
LOCATE COMP "gen_ring[132].gen_st[3].inv" SITE "R26C18B";
LOCATE COMP "gen_ring[132].gen_st[4].inv" SITE "R26C18C";
LOCATE COMP "gen_ring[133].gen_st[0].inv" SITE "R26C22A";
LOCATE COMP "gen_ring[133].gen_st[1].inv" SITE "R26C22A";
LOCATE COMP "gen_ring[133].gen_st[2].inv" SITE "R26C22B";
LOCATE COMP "gen_ring[133].gen_st[3].inv" SITE "R26C22B";
LOCATE COMP "gen_ring[133].gen_st[4].inv" SITE "R26C22C";
LOCATE COMP "gen_ring[134].gen_st[0].inv" SITE "R26C26A";
LOCATE COMP "gen_ring[134].gen_st[1].inv" SITE "R26C26A";
LOCATE COMP "gen_ring[134].gen_st[2].inv" SITE "R26C26B";
LOCATE COMP "gen_ring[134].gen_st[3].inv" SITE "R26C26B";
LOCATE COMP "gen_ring[134].gen_st[4].inv" SITE "R26C26C";
LOCATE COMP "gen_ring[135].gen_st[0].inv" SITE "R26C30A";
LOCATE COMP "gen_ring[135].gen_st[1].inv" SITE "R26C30A";
LOCATE COMP "gen_ring[135].gen_st[2].inv" SITE "R26C30B";
LOCATE COMP "gen_ring[135].gen_st[3].inv" SITE "R26C30B";
LOCATE COMP "gen_ring[135].gen_st[4].inv" SITE "R26C30C";
LOCATE COMP "gen_ring[136].gen_st[0].inv" SITE "R26C34A";
LOCATE COMP "gen_ring[136].gen_st[1].inv" SITE "R26C34A";
LOCATE COMP "gen_ring[136].gen_st[2].inv" SITE "R26C34B";
LOCATE COMP "gen_ring[136].gen_st[3].inv" SITE "R26C34B";
LOCATE COMP "gen_ring[136].gen_st[4].inv" SITE "R26C34C";
LOCATE COMP "gen_ring[137].gen_st[0].inv" SITE "R26C38A";
LOCATE COMP "gen_ring[137].gen_st[1].inv" SITE "R26C38A";
LOCATE COMP "gen_ring[137].gen_st[2].inv" SITE "R26C38B";
LOCATE COMP "gen_ring[137].gen_st[3].inv" SITE "R26C38B";
LOCATE COMP "gen_ring[137].gen_st[4].inv" SITE "R26C38C";
LOCATE COMP "gen_ring[138].gen_st[0].inv" SITE "R26C42A";
LOCATE COMP "gen_ring[138].gen_st[1].inv" SITE "R26C42A";
LOCATE COMP "gen_ring[138].gen_st[2].inv" SITE "R26C42B";
LOCATE COMP "gen_ring[138].gen_st[3].inv" SITE "R26C42B";
LOCATE COMP "gen_ring[138].gen_st[4].inv" SITE "R26C42C";
LOCATE COMP "gen_ring[139].gen_st[0].inv" SITE "R26C46A";
LOCATE COMP "gen_ring[139].gen_st[1].inv" SITE "R26C46A";
LOCATE COMP "gen_ring[139].gen_st[2].inv" SITE "R26C46B";
LOCATE COMP "gen_ring[139].gen_st[3].inv" SITE "R26C46B";
LOCATE COMP "gen_ring[139].gen_st[4].inv" SITE "R26C46C";
LOCATE COMP "gen_ring[140].gen_st[0].inv" SITE "R26C50A";
LOCATE COMP "gen_ring[140].gen_st[1].inv" SITE "R26C50A";
LOCATE COMP "gen_ring[140].gen_st[2].inv" SITE "R26C50B";
LOCATE COMP "gen_ring[140].gen_st[3].inv" SITE "R26C50B";
LOCATE COMP "gen_ring[140].gen_st[4].inv" SITE "R26C50C";
LOCATE COMP "gen_ring[141].gen_st[0].inv" SITE "R26C54A";
LOCATE COMP "gen_ring[141].gen_st[1].inv" SITE "R26C54A";
LOCATE COMP "gen_ring[141].gen_st[2].inv" SITE "R26C54B";
LOCATE COMP "gen_ring[141].gen_st[3].inv" SITE "R26C54B";
LOCATE COMP "gen_ring[141].gen_st[4].inv" SITE "R26C54C";
LOCATE COMP "gen_ring[142].gen_st[0].inv" SITE "R26C58A";
LOCATE COMP "gen_ring[142].gen_st[1].inv" SITE "R26C58A";
LOCATE COMP "gen_ring[142].gen_st[2].inv" SITE "R26C58B";
LOCATE COMP "gen_ring[142].gen_st[3].inv" SITE "R26C58B";
LOCATE COMP "gen_ring[142].gen_st[4].inv" SITE "R26C58C";
LOCATE COMP "gen_ring[143].gen_st[0].inv" SITE "R26C62A";
LOCATE COMP "gen_ring[143].gen_st[1].inv" SITE "R26C62A";
LOCATE COMP "gen_ring[143].gen_st[2].inv" SITE "R26C62B";
LOCATE COMP "gen_ring[143].gen_st[3].inv" SITE "R26C62B";
LOCATE COMP "gen_ring[143].gen_st[4].inv" SITE "R26C62C";
LOCATE COMP "gen_ring[144].gen_st[0].inv" SITE "R28C2A";
LOCATE COMP "gen_ring[144].gen_st[1].inv" SITE "R28C2A";
LOCATE COMP "gen_ring[144].gen_st[2].inv" SITE "R28C2B";
LOCATE COMP "gen_ring[144].gen_st[3].inv" SITE "R28C2B";
LOCATE COMP "gen_ring[144].gen_st[4].inv" SITE "R28C2C";
LOCATE COMP "gen_ring[145].gen_st[0].inv" SITE "R28C6A";
LOCATE COMP "gen_ring[145].gen_st[1].inv" SITE "R28C6A";
LOCATE COMP "gen_ring[145].gen_st[2].inv" SITE "R28C6B";
LOCATE COMP "gen_ring[145].gen_st[3].inv" SITE "R28C6B";
LOCATE COMP "gen_ring[145].gen_st[4].inv" SITE "R28C6C";
LOCATE COMP "gen_ring[146].gen_st[0].inv" SITE "R28C10A";
LOCATE COMP "gen_ring[146].gen_st[1].inv" SITE "R28C10A";
LOCATE COMP "gen_ring[146].gen_st[2].inv" SITE "R28C10B";
LOCATE COMP "gen_ring[146].gen_st[3].inv" SITE "R28C10B";
LOCATE COMP "gen_ring[146].gen_st[4].inv" SITE "R28C10C";
LOCATE COMP "gen_ring[147].gen_st[0].inv" SITE "R28C14A";
LOCATE COMP "gen_ring[147].gen_st[1].inv" SITE "R28C14A";
LOCATE COMP "gen_ring[147].gen_st[2].inv" SITE "R28C14B";
LOCATE COMP "gen_ring[147].gen_st[3].inv" SITE "R28C14B";
LOCATE COMP "gen_ring[147].gen_st[4].inv" SITE "R28C14C";
LOCATE COMP "gen_ring[148].gen_st[0].inv" SITE "R28C18A";
LOCATE COMP "gen_ring[148].gen_st[1].inv" SITE "R28C18A";
LOCATE COMP "gen_ring[148].gen_st[2].inv" SITE "R28C18B";
LOCATE COMP "gen_ring[148].gen_st[3].inv" SITE "R28C18B";
LOCATE COMP "gen_ring[148].gen_st[4].inv" SITE "R28C18C";
LOCATE COMP "gen_ring[149].gen_st[0].inv" SITE "R28C22A";
LOCATE COMP "gen_ring[149].gen_st[1].inv" SITE "R28C22A";
LOCATE COMP "gen_ring[149].gen_st[2].inv" SITE "R28C22B";
LOCATE COMP "gen_ring[149].gen_st[3].inv" SITE "R28C22B";
LOCATE COMP "gen_ring[149].gen_st[4].inv" SITE "R28C22C";
LOCATE COMP "gen_ring[150].gen_st[0].inv" SITE "R28C26A";
LOCATE COMP "gen_ring[150].gen_st[1].inv" SITE "R28C26A";
LOCATE COMP "gen_ring[150].gen_st[2].inv" SITE "R28C26B";
LOCATE COMP "gen_ring[150].gen_st[3].inv" SITE "R28C26B";
LOCATE COMP "gen_ring[150].gen_st[4].inv" SITE "R28C26C";
LOCATE COMP "gen_ring[151].gen_st[0].inv" SITE "R28C30A";
LOCATE COMP "gen_ring[151].gen_st[1].inv" SITE "R28C30A";
LOCATE COMP "gen_ring[151].gen_st[2].inv" SITE "R28C30B";
LOCATE COMP "gen_ring[151].gen_st[3].inv" SITE "R28C30B";
LOCATE COMP "gen_ring[151].gen_st[4].inv" SITE "R28C30C";
LOCATE COMP "gen_ring[152].gen_st[0].inv" SITE "R28C34A";
LOCATE COMP "gen_ring[152].gen_st[1].inv" SITE "R28C34A";
LOCATE COMP "gen_ring[152].gen_st[2].inv" SITE "R28C34B";
LOCATE COMP "gen_ring[152].gen_st[3].inv" SITE "R28C34B";
LOCATE COMP "gen_ring[152].gen_st[4].inv" SITE "R28C34C";
LOCATE COMP "gen_ring[153].gen_st[0].inv" SITE "R28C38A";
LOCATE COMP "gen_ring[153].gen_st[1].inv" SITE "R28C38A";
LOCATE COMP "gen_ring[153].gen_st[2].inv" SITE "R28C38B";
LOCATE COMP "gen_ring[153].gen_st[3].inv" SITE "R28C38B";
LOCATE COMP "gen_ring[153].gen_st[4].inv" SITE "R28C38C";
LOCATE COMP "gen_ring[154].gen_st[0].inv" SITE "R28C42A";
LOCATE COMP "gen_ring[154].gen_st[1].inv" SITE "R28C42A";
LOCATE COMP "gen_ring[154].gen_st[2].inv" SITE "R28C42B";
LOCATE COMP "gen_ring[154].gen_st[3].inv" SITE "R28C42B";
LOCATE COMP "gen_ring[154].gen_st[4].inv" SITE "R28C42C";
LOCATE COMP "gen_ring[155].gen_st[0].inv" SITE "R28C46A";
LOCATE COMP "gen_ring[155].gen_st[1].inv" SITE "R28C46A";
LOCATE COMP "gen_ring[155].gen_st[2].inv" SITE "R28C46B";
LOCATE COMP "gen_ring[155].gen_st[3].inv" SITE "R28C46B";
LOCATE COMP "gen_ring[155].gen_st[4].inv" SITE "R28C46C";
LOCATE COMP "gen_ring[156].gen_st[0].inv" SITE "R28C50A";
LOCATE COMP "gen_ring[156].gen_st[1].inv" SITE "R28C50A";
LOCATE COMP "gen_ring[156].gen_st[2].inv" SITE "R28C50B";
LOCATE COMP "gen_ring[156].gen_st[3].inv" SITE "R28C50B";
LOCATE COMP "gen_ring[156].gen_st[4].inv" SITE "R28C50C";
LOCATE COMP "gen_ring[157].gen_st[0].inv" SITE "R28C54A";
LOCATE COMP "gen_ring[157].gen_st[1].inv" SITE "R28C54A";
LOCATE COMP "gen_ring[157].gen_st[2].inv" SITE "R28C54B";
LOCATE COMP "gen_ring[157].gen_st[3].inv" SITE "R28C54B";
LOCATE COMP "gen_ring[157].gen_st[4].inv" SITE "R28C54C";
LOCATE COMP "gen_ring[158].gen_st[0].inv" SITE "R28C58A";
LOCATE COMP "gen_ring[158].gen_st[1].inv" SITE "R28C58A";
LOCATE COMP "gen_ring[158].gen_st[2].inv" SITE "R28C58B";
LOCATE COMP "gen_ring[158].gen_st[3].inv" SITE "R28C58B";
LOCATE COMP "gen_ring[158].gen_st[4].inv" SITE "R28C58C";
LOCATE COMP "gen_ring[159].gen_st[0].inv" SITE "R28C62A";
LOCATE COMP "gen_ring[159].gen_st[1].inv" SITE "R28C62A";
LOCATE COMP "gen_ring[159].gen_st[2].inv" SITE "R28C62B";
LOCATE COMP "gen_ring[159].gen_st[3].inv" SITE "R28C62B";
LOCATE COMP "gen_ring[159].gen_st[4].inv" SITE "R28C62C";
LOCATE COMP "gen_ring[160].gen_st[0].inv" SITE "R30C2A";
LOCATE COMP "gen_ring[160].gen_st[1].inv" SITE "R30C2A";
LOCATE COMP "gen_ring[160].gen_st[2].inv" SITE "R30C2B";
LOCATE COMP "gen_ring[160].gen_st[3].inv" SITE "R30C2B";
LOCATE COMP "gen_ring[160].gen_st[4].inv" SITE "R30C2C";
LOCATE COMP "gen_ring[161].gen_st[0].inv" SITE "R30C6A";
LOCATE COMP "gen_ring[161].gen_st[1].inv" SITE "R30C6A";
LOCATE COMP "gen_ring[161].gen_st[2].inv" SITE "R30C6B";
LOCATE COMP "gen_ring[161].gen_st[3].inv" SITE "R30C6B";
LOCATE COMP "gen_ring[161].gen_st[4].inv" SITE "R30C6C";
LOCATE COMP "gen_ring[162].gen_st[0].inv" SITE "R30C10A";
LOCATE COMP "gen_ring[162].gen_st[1].inv" SITE "R30C10A";
LOCATE COMP "gen_ring[162].gen_st[2].inv" SITE "R30C10B";
LOCATE COMP "gen_ring[162].gen_st[3].inv" SITE "R30C10B";
LOCATE COMP "gen_ring[162].gen_st[4].inv" SITE "R30C10C";
LOCATE COMP "gen_ring[163].gen_st[0].inv" SITE "R30C14A";
LOCATE COMP "gen_ring[163].gen_st[1].inv" SITE "R30C14A";
LOCATE COMP "gen_ring[163].gen_st[2].inv" SITE "R30C14B";
LOCATE COMP "gen_ring[163].gen_st[3].inv" SITE "R30C14B";
LOCATE COMP "gen_ring[163].gen_st[4].inv" SITE "R30C14C";
LOCATE COMP "gen_ring[164].gen_st[0].inv" SITE "R30C18A";
LOCATE COMP "gen_ring[164].gen_st[1].inv" SITE "R30C18A";
LOCATE COMP "gen_ring[164].gen_st[2].inv" SITE "R30C18B";
LOCATE COMP "gen_ring[164].gen_st[3].inv" SITE "R30C18B";
LOCATE COMP "gen_ring[164].gen_st[4].inv" SITE "R30C18C";
LOCATE COMP "gen_ring[165].gen_st[0].inv" SITE "R30C22A";
LOCATE COMP "gen_ring[165].gen_st[1].inv" SITE "R30C22A";
LOCATE COMP "gen_ring[165].gen_st[2].inv" SITE "R30C22B";
LOCATE COMP "gen_ring[165].gen_st[3].inv" SITE "R30C22B";
LOCATE COMP "gen_ring[165].gen_st[4].inv" SITE "R30C22C";
LOCATE COMP "gen_ring[166].gen_st[0].inv" SITE "R30C26A";
LOCATE COMP "gen_ring[166].gen_st[1].inv" SITE "R30C26A";
LOCATE COMP "gen_ring[166].gen_st[2].inv" SITE "R30C26B";
LOCATE COMP "gen_ring[166].gen_st[3].inv" SITE "R30C26B";
LOCATE COMP "gen_ring[166].gen_st[4].inv" SITE "R30C26C";
LOCATE COMP "gen_ring[167].gen_st[0].inv" SITE "R30C30A";
LOCATE COMP "gen_ring[167].gen_st[1].inv" SITE "R30C30A";
LOCATE COMP "gen_ring[167].gen_st[2].inv" SITE "R30C30B";
LOCATE COMP "gen_ring[167].gen_st[3].inv" SITE "R30C30B";
LOCATE COMP "gen_ring[167].gen_st[4].inv" SITE "R30C30C";
LOCATE COMP "gen_ring[168].gen_st[0].inv" SITE "R30C34A";
LOCATE COMP "gen_ring[168].gen_st[1].inv" SITE "R30C34A";
LOCATE COMP "gen_ring[168].gen_st[2].inv" SITE "R30C34B";
LOCATE COMP "gen_ring[168].gen_st[3].inv" SITE "R30C34B";
LOCATE COMP "gen_ring[168].gen_st[4].inv" SITE "R30C34C";
LOCATE COMP "gen_ring[169].gen_st[0].inv" SITE "R30C38A";
LOCATE COMP "gen_ring[169].gen_st[1].inv" SITE "R30C38A";
LOCATE COMP "gen_ring[169].gen_st[2].inv" SITE "R30C38B";
LOCATE COMP "gen_ring[169].gen_st[3].inv" SITE "R30C38B";
LOCATE COMP "gen_ring[169].gen_st[4].inv" SITE "R30C38C";
LOCATE COMP "gen_ring[170].gen_st[0].inv" SITE "R30C42A";
LOCATE COMP "gen_ring[170].gen_st[1].inv" SITE "R30C42A";
LOCATE COMP "gen_ring[170].gen_st[2].inv" SITE "R30C42B";
LOCATE COMP "gen_ring[170].gen_st[3].inv" SITE "R30C42B";
LOCATE COMP "gen_ring[170].gen_st[4].inv" SITE "R30C42C";
LOCATE COMP "gen_ring[171].gen_st[0].inv" SITE "R30C46A";
LOCATE COMP "gen_ring[171].gen_st[1].inv" SITE "R30C46A";
LOCATE COMP "gen_ring[171].gen_st[2].inv" SITE "R30C46B";
LOCATE COMP "gen_ring[171].gen_st[3].inv" SITE "R30C46B";
LOCATE COMP "gen_ring[171].gen_st[4].inv" SITE "R30C46C";
LOCATE COMP "gen_ring[172].gen_st[0].inv" SITE "R30C50A";
LOCATE COMP "gen_ring[172].gen_st[1].inv" SITE "R30C50A";
LOCATE COMP "gen_ring[172].gen_st[2].inv" SITE "R30C50B";
LOCATE COMP "gen_ring[172].gen_st[3].inv" SITE "R30C50B";
LOCATE COMP "gen_ring[172].gen_st[4].inv" SITE "R30C50C";
LOCATE COMP "gen_ring[173].gen_st[0].inv" SITE "R30C54A";
LOCATE COMP "gen_ring[173].gen_st[1].inv" SITE "R30C54A";
LOCATE COMP "gen_ring[173].gen_st[2].inv" SITE "R30C54B";
LOCATE COMP "gen_ring[173].gen_st[3].inv" SITE "R30C54B";
LOCATE COMP "gen_ring[173].gen_st[4].inv" SITE "R30C54C";
LOCATE COMP "gen_ring[174].gen_st[0].inv" SITE "R30C58A";
LOCATE COMP "gen_ring[174].gen_st[1].inv" SITE "R30C58A";
LOCATE COMP "gen_ring[174].gen_st[2].inv" SITE "R30C58B";
LOCATE COMP "gen_ring[174].gen_st[3].inv" SITE "R30C58B";
LOCATE COMP "gen_ring[174].gen_st[4].inv" SITE "R30C58C";
LOCATE COMP "gen_ring[175].gen_st[0].inv" SITE "R30C62A";
LOCATE COMP "gen_ring[175].gen_st[1].inv" SITE "R30C62A";
LOCATE COMP "gen_ring[175].gen_st[2].inv" SITE "R30C62B";
LOCATE COMP "gen_ring[175].gen_st[3].inv" SITE "R30C62B";
LOCATE COMP "gen_ring[175].gen_st[4].inv" SITE "R30C62C";
LOCATE COMP "gen_ring[176].gen_st[0].inv" SITE "R32C2A";
LOCATE COMP "gen_ring[176].gen_st[1].inv" SITE "R32C2A";
LOCATE COMP "gen_ring[176].gen_st[2].inv" SITE "R32C2B";
LOCATE COMP "gen_ring[176].gen_st[3].inv" SITE "R32C2B";
LOCATE COMP "gen_ring[176].gen_st[4].inv" SITE "R32C2C";
LOCATE COMP "gen_ring[177].gen_st[0].inv" SITE "R32C6A";
LOCATE COMP "gen_ring[177].gen_st[1].inv" SITE "R32C6A";
LOCATE COMP "gen_ring[177].gen_st[2].inv" SITE "R32C6B";
LOCATE COMP "gen_ring[177].gen_st[3].inv" SITE "R32C6B";
LOCATE COMP "gen_ring[177].gen_st[4].inv" SITE "R32C6C";
LOCATE COMP "gen_ring[178].gen_st[0].inv" SITE "R32C10A";
LOCATE COMP "gen_ring[178].gen_st[1].inv" SITE "R32C10A";
LOCATE COMP "gen_ring[178].gen_st[2].inv" SITE "R32C10B";
LOCATE COMP "gen_ring[178].gen_st[3].inv" SITE "R32C10B";
LOCATE COMP "gen_ring[178].gen_st[4].inv" SITE "R32C10C";
LOCATE COMP "gen_ring[179].gen_st[0].inv" SITE "R32C14A";
LOCATE COMP "gen_ring[179].gen_st[1].inv" SITE "R32C14A";
LOCATE COMP "gen_ring[179].gen_st[2].inv" SITE "R32C14B";
LOCATE COMP "gen_ring[179].gen_st[3].inv" SITE "R32C14B";
LOCATE COMP "gen_ring[179].gen_st[4].inv" SITE "R32C14C";
LOCATE COMP "gen_ring[180].gen_st[0].inv" SITE "R32C18A";
LOCATE COMP "gen_ring[180].gen_st[1].inv" SITE "R32C18A";
LOCATE COMP "gen_ring[180].gen_st[2].inv" SITE "R32C18B";
LOCATE COMP "gen_ring[180].gen_st[3].inv" SITE "R32C18B";
LOCATE COMP "gen_ring[180].gen_st[4].inv" SITE "R32C18C";
LOCATE COMP "gen_ring[181].gen_st[0].inv" SITE "R32C22A";
LOCATE COMP "gen_ring[181].gen_st[1].inv" SITE "R32C22A";
LOCATE COMP "gen_ring[181].gen_st[2].inv" SITE "R32C22B";
LOCATE COMP "gen_ring[181].gen_st[3].inv" SITE "R32C22B";
LOCATE COMP "gen_ring[181].gen_st[4].inv" SITE "R32C22C";
LOCATE COMP "gen_ring[182].gen_st[0].inv" SITE "R32C26A";
LOCATE COMP "gen_ring[182].gen_st[1].inv" SITE "R32C26A";
LOCATE COMP "gen_ring[182].gen_st[2].inv" SITE "R32C26B";
LOCATE COMP "gen_ring[182].gen_st[3].inv" SITE "R32C26B";
LOCATE COMP "gen_ring[182].gen_st[4].inv" SITE "R32C26C";
LOCATE COMP "gen_ring[183].gen_st[0].inv" SITE "R32C30A";
LOCATE COMP "gen_ring[183].gen_st[1].inv" SITE "R32C30A";
LOCATE COMP "gen_ring[183].gen_st[2].inv" SITE "R32C30B";
LOCATE COMP "gen_ring[183].gen_st[3].inv" SITE "R32C30B";
LOCATE COMP "gen_ring[183].gen_st[4].inv" SITE "R32C30C";
LOCATE COMP "gen_ring[184].gen_st[0].inv" SITE "R32C34A";
LOCATE COMP "gen_ring[184].gen_st[1].inv" SITE "R32C34A";
LOCATE COMP "gen_ring[184].gen_st[2].inv" SITE "R32C34B";
LOCATE COMP "gen_ring[184].gen_st[3].inv" SITE "R32C34B";
LOCATE COMP "gen_ring[184].gen_st[4].inv" SITE "R32C34C";
LOCATE COMP "gen_ring[185].gen_st[0].inv" SITE "R32C38A";
LOCATE COMP "gen_ring[185].gen_st[1].inv" SITE "R32C38A";
LOCATE COMP "gen_ring[185].gen_st[2].inv" SITE "R32C38B";
LOCATE COMP "gen_ring[185].gen_st[3].inv" SITE "R32C38B";
LOCATE COMP "gen_ring[185].gen_st[4].inv" SITE "R32C38C";
LOCATE COMP "gen_ring[186].gen_st[0].inv" SITE "R32C42A";
LOCATE COMP "gen_ring[186].gen_st[1].inv" SITE "R32C42A";
LOCATE COMP "gen_ring[186].gen_st[2].inv" SITE "R32C42B";
LOCATE COMP "gen_ring[186].gen_st[3].inv" SITE "R32C42B";
LOCATE COMP "gen_ring[186].gen_st[4].inv" SITE "R32C42C";
LOCATE COMP "gen_ring[187].gen_st[0].inv" SITE "R32C46A";
LOCATE COMP "gen_ring[187].gen_st[1].inv" SITE "R32C46A";
LOCATE COMP "gen_ring[187].gen_st[2].inv" SITE "R32C46B";
LOCATE COMP "gen_ring[187].gen_st[3].inv" SITE "R32C46B";
LOCATE COMP "gen_ring[187].gen_st[4].inv" SITE "R32C46C";
LOCATE COMP "gen_ring[188].gen_st[0].inv" SITE "R32C50A";
LOCATE COMP "gen_ring[188].gen_st[1].inv" SITE "R32C50A";
LOCATE COMP "gen_ring[188].gen_st[2].inv" SITE "R32C50B";
LOCATE COMP "gen_ring[188].gen_st[3].inv" SITE "R32C50B";
LOCATE COMP "gen_ring[188].gen_st[4].inv" SITE "R32C50C";
LOCATE COMP "gen_ring[189].gen_st[0].inv" SITE "R32C54A";
LOCATE COMP "gen_ring[189].gen_st[1].inv" SITE "R32C54A";
LOCATE COMP "gen_ring[189].gen_st[2].inv" SITE "R32C54B";
LOCATE COMP "gen_ring[189].gen_st[3].inv" SITE "R32C54B";
LOCATE COMP "gen_ring[189].gen_st[4].inv" SITE "R32C54C";
LOCATE COMP "gen_ring[190].gen_st[0].inv" SITE "R32C58A";
LOCATE COMP "gen_ring[190].gen_st[1].inv" SITE "R32C58A";
LOCATE COMP "gen_ring[190].gen_st[2].inv" SITE "R32C58B";
LOCATE COMP "gen_ring[190].gen_st[3].inv" SITE "R32C58B";
LOCATE COMP "gen_ring[190].gen_st[4].inv" SITE "R32C58C";
LOCATE COMP "gen_ring[191].gen_st[0].inv" SITE "R32C62A";
LOCATE COMP "gen_ring[191].gen_st[1].inv" SITE "R32C62A";
LOCATE COMP "gen_ring[191].gen_st[2].inv" SITE "R32C62B";
LOCATE COMP "gen_ring[191].gen_st[3].inv" SITE "R32C62B";
LOCATE COMP "gen_ring[191].gen_st[4].inv" SITE "R32C62C";
